/* ==========================================================================
   DARK THEME
   ========================================================================== */

/* Color codes used for the theme */
$gray                       : #b8b8ba;
$dark-gray                  : #a4a4a6;
$darker-gray                : #1f1f20;
$light-gray                 : #b8b8ba;

$background                 : #1f1f20;
$background-light           : #3a3a3c;
$background-lighter         : #29292b;
$text                       : #e8e8e8;
$link                       : #2896ba;
$link-dark                  : #54b3d1;
$link-light                 : #72b4cb;

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
:root {
    --global-base-color                 : #{$background-light};
    --global-bg-color                   : #{$background};
    --global-border-color               : #{$background-light};
    --global-code-background-color      : #2a2a2c;
    --global-code-text-color            : #{$text};
    --global-fig-caption-color          : #{$light-gray};
    --global-link-color                 : #{$link};
    --global-link-color-hover           : #{$link-dark};
    --global-link-color-visited         : #{$link-light};    
    --global-masthead-link-color        : #{$text};
    --global-masthead-link-color-hover  : #{$background-light};    
    --global-text-color                 : #{$text};
    --global-text-color-light           : #{$light-gray};
    --global-thead-color                : #{$background-lighter};
}
